<app-front-nav></app-front-nav>

<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="display-3 text-white">CHECK YOUR LINES</h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="btn-wrapper">
                <div class="btn-wrapper">

                  </div>
                  </div>
                  </div>
                  </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
    <section class="section bg-secondary">
        <div class="container">
           
      <div class="col-md-10 ml-auto mr-auto">
          <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
              <tr>
                <th scope="col">Line Number</th>
                <th scope="col">Date Validity</th>
                <th scope="col">Service Name</th>
                <th scope="col">Solde</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let x of collection.Listtel | filter:searchText | paginate: config">
  
                
                <td>
                    {{x.lineNumber}}
                  </td>
                  <td>
                      {{x.validityDate | date}}
                      
                    </td>
                <td>
                    {{x.services.serviceName}}
                  </td>
                  <td >
                  
                      {{x.solde}} DT
                    </td>
  
                    <td class="td-actions text-right">
                        <button type="button" ngbTooltip="Details" class="btn btn-info btn-link btn-sm" [routerLink]="['/home/MyLineDetails/',x.id]">
                            <i class="ni ni-book-bookmark"></i>
                        </button>
                        
                        <button type="button" ngbTooltip="Remove" class="btn btn-danger btn-link btn-sm" (click)="Open(content,x.id)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                  <!-- <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" data-toggle="modal" [routerLink]="['/home/MyLineDetails/',x.id]">Details</a>
  
                         <a class="dropdown-item" data-toggle="modal" (click)="Open(content,x.id)">Delete</a>
                        </div>
                      </div>
                    </td> -->
                
                  
              </tr>
  
            </tbody>
          </table>
          
        </div>
      </div>
  </div>
  <br>
  <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
      </ul>
    </nav>
    </section>
    <ng-template #content let-modal1>
        <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
            <div class="modal-danger" role="document">
              <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
                  <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                   </button>
                </div>
                <div class="modal-body">
                  <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">Delete line</h4>
                    <p>Are you sure want to delete this line.</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" (click)="Delete(content)">Confirm</button>
                </div>
              </div>
            </div>
          </div>
      </ng-template>
  <app-front-footer></app-front-footer>