<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br>
      <br>
      <br>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
              <div class="row align-items-center">
                  <div class="col-4">

                      
                      <button type="button" (click)="Opena(ajout)" placement="top-center" triggers="hover focus click"  class="btn-icon-clipboard" ngxClipboard [cbContent]="'fat-add'">
                          <div>
                            <i class="ni ni-fat-add"></i>
                            <span>New Technician</span>
                          </div>
                        </button>
                  </div>
                  
                  <div class="col-4"></div>
                  <div class="col-4">
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                  </div>
                 
  
  
                </div>
  
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Speaciality</th>
              <th scope="col">Line Number</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let x of collection.Listtech | filter:searchText | paginate: config">

              <td>
                {{x.id}}
              </td>
              <td>
                  {{x.technicianFirstName}}
                </td>
                <td>
                    {{x.technicianSecondName}}
                    
                  </td>
              <td>
                  {{x.technicianSpecialty}}
                </td>
                <td>
                    {{x.technicianPhoneNumber}}
                  </td>


                <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                       <a class="dropdown-item" data-toggle="modal" (click)="OpenUpdate(update,x.id,x.technicianFirstName,x.technicianSecondName,x.technicianSpecialty,x.technicianPhoneNumber)">Update</a>
                       <a class="dropdown-item" data-toggle="modal" (click)="Open(content,x.id)">Delete</a>
                      </div>
                    </div>
                  </td>
              
                
            </tr>

          </tbody>
        </table>

      </div>
      
    </div>
  </div>
</div>

</div>
<div class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
      </ul>
    </nav>
    </div>

<!-- <div class="card-footer py-4">
<nav aria-label="...">
  <ul class="pagination justify-content-end mb-0">
    <li class="page-item disabled">
      <a class="page-link" href="javascript:void(0)" tabindex="-1">
        <i class="fas fa-angle-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="javascript:void(0)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0)">
        <i class="fas fa-angle-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div> -->

<ng-template #content let-modal1>
    <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
        <div class="modal-danger" role="document">
          <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
              <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
              <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Delete technician</h4>
                <p>Are you sure want to delete this technician.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="Delete(content)">Confirm</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #ajout let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal1-basic-title">Add Technician</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
      <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
          </div>
          <form #techForm= "ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              
                <input class="form-control" placeholder="First Name *" name="TechnicianFirstName" [(ngModel)]="technician.technicianFirstName" #Technicianusername="ngModel" type="text" required>
                <div *ngIf="Technicianusername.invalid && Technicianusername.touched && !Technicianusername.dirty" class="alert alert-danger">
                  First Name is required
</div>
            </div>
            <div class="form-group">
              
                <input class="form-control" placeholder="Second Name *" name="TechnicianSecondName" [(ngModel)]="technician.technicianSecondName" #TechnicianSecondName="ngModel" type="text" required>
                <div *ngIf="TechnicianSecondName.invalid && TechnicianSecondName.touched && !TechnicianSecondName.dirty" class="alert alert-danger">
                    Second Name is required
  </div>
            </div>
            <div class="form-group">
              
                <input class="form-control" placeholder="Speaciality *" name="TechnicianSpecialty" [(ngModel)]="technician.technicianSpecialty" #TechnicianSpecialty="ngModel" type="text" required>
                <div *ngIf="TechnicianSpecialty.invalid && TechnicianSpecialty.touched && !TechnicianSpecialty.dirty" class="alert alert-danger">
                    Speciality is required
  </div>
            </div>
            <div class="form-group">
               
                  <input class="form-control" placeholder="Phone number *" name="TechnicianPhoneNumber" [(ngModel)]="technician.technicianPhoneNumber" #TechnicianPhoneNumber="ngModel" type="text" required>
                  <div *ngIf="TechnicianPhoneNumber.invalid && TechnicianPhoneNumber.touched && !TechnicianPhoneNumber.dirty" class="alert alert-danger">
                      phone number is required
    </div>
              </div>
              
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" >ADD</button>
            </div>
          </form>
        </div>  </div>
  
</ng-template>
<ng-template #update let-modal1>
    <div class="modal-header">
      <h4 class="modal-title" id="modal1-basic-title">Update Technician</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
            </div>
            <form #techForm= "ngForm" (ngSubmit)="Update()">
                <div class="form-group">
                  
                    <input class="form-control" placeholder="First Name *" name="TechnicianFirstName" [(ngModel)]="technician.technicianFirstName" #Technicianusername="ngModel" type="text" required>
                    <div *ngIf="Technicianusername.invalid && Technicianusername.touched && !Technicianusername.dirty" class="alert alert-danger">
                      First Name is required
    </div>
                </div>
                <div class="form-group">
                  
                    <input class="form-control" placeholder="Second Name *" name="TechnicianSecondName" [(ngModel)]="technician.technicianSecondName" #TechnicianSecondName="ngModel" type="text" required>
                    <div *ngIf="TechnicianSecondName.invalid && TechnicianSecondName.touched && !TechnicianSecondName.dirty" class="alert alert-danger">
                        Second Name is required
      </div>
                </div>
                <div class="form-group">
                  
                    <input class="form-control" placeholder="Speaciality *" name="TechnicianSpecialty" [(ngModel)]="technician.technicianSpecialty" #TechnicianSpecialty="ngModel" type="text" required>
                    <div *ngIf="TechnicianSpecialty.invalid && TechnicianSpecialty.touched && !TechnicianSpecialty.dirty" class="alert alert-danger">
                        Speciality is required
      </div>
                </div>
                <div class="form-group">
                   
                      <input class="form-control" placeholder="Phone number *" name="TechnicianPhoneNumber" [(ngModel)]="technician.technicianPhoneNumber" #TechnicianPhoneNumber="ngModel" type="text" required>
                      <div *ngIf="TechnicianPhoneNumber.invalid && TechnicianPhoneNumber.touched && !TechnicianPhoneNumber.dirty" class="alert alert-danger">
                          phone number is required
        </div>
                  </div>
                  
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4" >ADD</button>
                </div>
              </form>
          </div>  </div>
    
  </ng-template>
