<app-front-nav></app-front-nav>


    <!-- Mask -->
    
  
                  <section class="section pb-0 bg-gradient-warning">
                      <div class="container">
                          <div class="row row-grid justify-content-center">
                              <div class="col-lg-8 text-center">
                                <h2 class="display-3 text-white">COMPLAINT DETAILS</h2>
                                
                                <div class="btn-wrapper">
                                  <div class="btn-wrapper">
                                      <a class="btn btn-danger text-white" (click)="Open(content,complaint.id)" >Delete</a>
                  
                                    </div>
                                    <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                    </div>
                                    </div>
                                    </div>
                          </div>
                          
                          </section>
  <!-- Page content -->
  <section class="section bg-secondary">
      <div class="container">
          
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">General information</h6>
                <div class="pl-lg-4">
                  <!-- Name -->
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Body  &nbsp;:</label><br>
                        <label>{{complaint.complaintBody}}</label>
                      </div>
                    </div>
                    
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">Type &nbsp;:</label><br>
                            <label>{{complaint.typeComplaint.typeName}}</label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Object &nbsp;:</label><br>
                              <label>{{complaint.complaintObject.object}}</label>
                          </div>
                      </div>
                  </div>
                  <!-- Start + End date -->
                  
                </div>
                
                <!-- Location -->
                
                <hr class="my-4" />
                <!-- Vehicules   -->
                <h6 class="heading-small text-muted mb-4">State &nbsp; : &nbsp;{{complaint.complaintState}}</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        
                          <i class="ni ni-calendar-grid-58"> &nbsp;<label class="form-control-label" for="input-address">Creation Date :</label></i> <br>
                        <label class="form-control-label" for="input-address">{{complaint.complaintDate | date}}</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                          
                            <i class="ni ni-calendar-grid-58"> &nbsp;<label class="form-control-label" for="input-address">Assignment Date :</label></i> <br>
                          <label class="form-control-label" for="input-address">{{complaint.assignmentDate | date}}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                          
                            <i class="ni ni-calendar-grid-58"> &nbsp; <label class="form-control-label" for="input-address">Closing Date :</label> </i><br>
                          <label class="form-control-label" for="input-address">{{complaint.closingDate | date}}</label>
                        </div>
                    </div>
                  </div>
                </div>
                
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Admin Information</h6>
            <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group" *ngIf="complaint.admin != null">
                      <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" [src]="complaint.admin.picture">
                      </a>
                      <br>
                      <label class="form-control-label" for="input-address">{{complaint.admin.username}}&nbsp;</label> <br>
                      </div>
                      <div class="form-group" *ngIf="complaint.admin === null">
                          
                          <label class="form-control-label" for="input-address">Admin not affected&nbsp;</label> <br>
                          </div>
                  </div>
                  <div class="col-lg-4">
                  </div>

                  <div class="col-lg-4">
                      <h6 class="heading-small text-muted mb-4">Technician Information</h6>

                      <div class="form-group" *ngIf="complaint.technician != null">
                          
                          <label class="form-control-label" for="input-username">Technician Second Name &nbsp;:</label><br>
                            <label>{{complaint.technician.technicianSecondName}}</label>
                        </div>
                        <div class="form-group" *ngIf="complaint.technician != null">
                          
                            <label class="form-control-label" for="input-username">Technician First Name &nbsp;:</label><br>
                              <label>{{complaint.technician.technicianFirstName}}</label>
                          </div>
                          <div class="form-group" *ngIf="complaint.technician != null">
                          
                              <label class="form-control-label" for="input-username">Technician Number &nbsp;:</label><br>
                                <label>{{complaint.technician.technicianPhoneNumber}}</label>
                            </div>
                            <div class="form-group" *ngIf="complaint.technician === null">
                          
                                <label class="form-control-label" for="input-username">technician not affected  &nbsp;</label><br>
                              </div>
                  </div>

                </div>
              </div>
                </form>
                </div>
      
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
    </section>
     <!-- Agents   -->
              
                
              <!-- Agents   -->
              <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                        <section class="section section-components">
                            <div class="container">
                                <!-- comments -->
                                <h5 *ngIf="complaint.comments.length == '1'"> {{complaint.comments.length}}   &nbsp;Comment &nbsp; <i class="fa fa-comment"></i></h5>
                                <h5 *ngIf="complaint.comments.length == '0'"> No Comment <i class="fa fa-comment"></i></h5>
                                <h5 *ngIf="complaint.comments.length != '0' && complaint.comments.length != '1'">{{complaint.comments.length}}   &nbsp;Comments &nbsp;<i class="fa fa-comment"></i></h5>
                                <br>
                                <br>
                                <div class="media" *ngFor="let i of complaint.comments">
                                  <a class="pull-left" href="javascript:void(0)">
                                   <div class="avatar">
                                        <img class="media-object" [src]="i.user.picture" alt="..."/>
                                   </div>
                                  </a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <div class="media-body">
                                    <h5 class="media-heading">{{i.user.username}}</h5>
                                    <div class="pull-right">
                                        <h6 class="text-muted">{{i.commentDate | date}}</h6>
                                        <a href="javascript:void(0)" class="icon-danger text-orange" (click)="deleteComment(i.id)" *ngIf="i.user.username === user">
                                            delete
                                       </a>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p>{{i.comment}}</p>
        
                                    <div class="media-footer">
                                        <a href="javascript:void(0)" class="btn btn-white btn-link" (click)="Likecomment(i.id)">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{i.likes}}
                                        </a>
                                        
                                        
                                    </div>
        
                                     <div class="media media-post">
                                            <hr>                                      
                                     </div> <!-- end media-post -->
                                  </div>
                            </div>
    
                                <!-- <div class="row py-3 align-items-center" *ngFor="let i of complaint.comments">
                                  <div class="col-lg-3">
                                    <img src="./assets/img/theme/team-2-800x800.jpg" alt="Circle image" class="img-fluid rounded-circle shadow"
                                      style="width: 150px;"> <br> -->
                                      <!-- <small class="d-block text-uppercase font-weight-bold mb-4">{{i.commentDate}} </small>
    
                                    <small class="d-block text-uppercase font-weight-bold mb-4">{{i.user.username}} </small>
                                  </div>
                                  <div class="col-lg-9">
                                    <p>{{i.comment}}</p>
                                  </div>
                                </div> --> 
                                
                              </div>
                            <div class="container" *ngIf="complaint.complaintState == 'Opened' || complaint.complaintState == 'In_progress'">
                                <h5> Write a comment &nbsp; <i class="fa fa-reply"></i></h5>
                                <form #lineForm= "ngForm" (ngSubmit)="onSubmit(complaint.id)">
                                    <textarea class="form-control form-control-alternative" name="comment" [(ngModel)]="comments.comment" #comment="ngModel" rows="4" cols="80"
                                    placeholder="Response .." required></textarea>
                                  <div *ngIf="comment.invalid && comment.touched && !comment.dirty" class="alert alert-danger">
                                      <label class="form-control-label" for="input-address">Comment is required</label>
  
                                  </div>
                                  
                                  <div class="col-lg-3 ml-lg-auto">
                                      <button class="btn btn-icon btn-3 btn-success" type="submit"[disabled]="lineForm.invalid">
                                          <span class="btn-inner--icon"><i class="fa fa-reply"></i></span>
                                          <span class="btn-inner--text">Send</span>
                                        </button>                                  </div>
                                </form>
                              </div>
                            <!-- reply -->
                            
                          </section>
                         
                    </div>
  
                  </div>
                </div>
            
  <ng-template #content let-modal1>
          <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
              <div class="modal-danger" role="document">
                <div class="modal-content bg-gradient-danger">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
                    <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                      <span aria-hidden="true">×</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="py-3 text-center">
                      <i class="ni ni-bell-55 ni-3x"></i>
                      <h4 class="heading mt-4">Delete Complaint</h4>
                      <p>Are you sure want to delete this complaint.</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" (click)="Delete()">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
      </ng-template>
  <app-front-footer></app-front-footer>

