
<app-front-nav></app-front-nav>

<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="display-3 text-white">FOLLOW YOUR COMPLAINTS</h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              
              <br>
              <div class="btn-wrapper">
                <div class="btn-wrapper">

                  </div>
                  </div>
                  </div>
                  </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
<div class="container">
   
      <br>
      <br>
    <div class="row" >
      <div class="col-sm">
  
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="form-group">
            <div >
                <small class="text-uppercase font-weight-bold">Filter By Type :</small>
              </div>          
              <ejs-combobox  name="type"  #type ="ngModel" [dataSource]='typeList' [(ngModel)]="selctedType" [fields]='fields' placeholder='Select a Type '[allowFiltering]='true' (filtering)='onFiltering($event)'></ejs-combobox>
              <br>
        </div>
        
        <div class="form-group">
            <!-- Checkboxes -->
            <div >
              <small class="text-uppercase font-weight-bold">Filter By State :</small>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="Opened" [(ngModel)]="Opened" type="checkbox" (change)="ChangeState($event)">
              <label class="custom-control-label" for="Opened">
                <span>Opened</span>
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="In_Progress" [(ngModel)]="In_Progress"type="checkbox" (change)="ChangeState2($event)">
                <label class="custom-control-label" for="In_Progress">
                  <span>In-Progress</span>
                </label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="Treated" [(ngModel)]="Treated" type="checkbox" (change)="ChangeState1($event)">
                  <label class="custom-control-label" for="Treated">
                    <span>Treated</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="Closed_without_solution" [(ngModel)]="Closed_without_solution" type="checkbox" (change)="ChangeState3($event)">
                    <label class="custom-control-label" for="Closed_without_solution">
                      <span>Closed without solution</span>
                    </label>
                  </div>
            
          </div>
      </div>     
      <div class="col-md-9">
          <div class="form-group">
              <div class="input-group input-group-alternative mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                </div>
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
              </div>
            </div>
  
            <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6" *ngFor="let x of collection.ListComplaints| filterbytype: selctedType | filter:searchText| paginate: config">

                    <div class="card shadow shadow-lg--hover mt-5" *ngIf="x.complaintState =='treated'">
                        <div class="card-body">
                          <div class="d-flex px-3">
                            <div>
                              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                <i class="ni ni-satisfied"></i>
                              </div>
                            </div>
                            <div class="pl-4">
                              <h5 class="title text-success">{{x.complaintObject.object}}</h5>
                              
                                <p class="card-category" *ngIf="x.complaintState =='Opened'">Opened</p>
                                          <p class="card-category" *ngIf="x.complaintState =='In_progress'">In Progress</p>
                                          <p class="card-category" *ngIf="x.complaintState =='treated'">Treated</p>
                                          <p class="card-category" *ngIf="x.complaintState =='Closed_without_Solution'">Closed</p>
                              <a [routerLink]="['/home/mycomplaintsdetails/',x.id]" class="text-success">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow shadow-lg--hover mt-5 " *ngIf="x.complaintState != 'treated'">
                          <div class="card-body">
                            <div class="d-flex px-3">
                              <div>
                                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                  <i class="ni ni-active-40"></i>
                                </div>
                              </div>
                              <div class="pl-4">
                                  <h5 class="title text-warning">{{x.complaintObject.object}}</h5>
                              
                                  <p class="card-category" *ngIf="x.complaintState =='Opened'">Opened</p>
                                            <p class="card-category" *ngIf="x.complaintState =='In_progress'">In Progress</p>
                                            <p class="card-category" *ngIf="x.complaintState =='treated'">Treated</p>
                                            <p class="card-category" *ngIf="x.complaintState =='Closed_without_Solution'">Closed</p>
                                <a [routerLink]="['/home/mycomplaintsdetails/',x.id]" class="text-warning">View Details</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                      
                      
                  </div>
                  </div>
                  <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                  
                      </ul>
                    </nav>
                      
      </div>
                    </div>
                    </div>
                    
                    

                    



<app-front-footer></app-front-footer>

