<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <br>
        <br>
        <br>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Opened Complaints</h5>
                    <span class="h2 font-weight-bold mb-0">{{TOpened}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">In-Progress Complaints</h5>
                    <span class="h2 font-weight-bold mb-0">{{TInProg}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Treated Complaints</h5>
                    <span class="h2 font-weight-bold mb-0">{{TTreated}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Closed Without Solution Complaints</h5>
                    <span class="h2 font-weight-bold mb-0">{{TClosed}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p> -->
              </div>
            </div>
          </div>
          
          <!-- <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-2">
                        <a routerLink="/back/technician" class="btn btn-sm btn-primary">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Technician</span>
                          
                        </a>
                    </div>
                    <div class="col-2">

                        <a routerLink="/back/Type" class="btn btn-sm btn-primary">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Complaint Type</span>
                          
                        </a>
                    </div>
                    <div class="col-2">

                        <a routerLink="/back/Object" class="btn btn-sm btn-primary">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Complaint Object</span>
                                  
                                </a>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                    </div>
                   
    
    
                  </div>
    
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Object</th>
                <th scope="col">State</th>
                <th scope="col">ComplaintsDate</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let x of collection.ListComplaints | filter:searchText| paginate: config">

                <td>
                  {{x.typeComplaint.typeName}}
                </td>
                <td>
                    {{x.complaintObject.object}}
                  </td>
                  <td>
                      <span class="badge badge-dot mr-4" *ngIf="x.complaintState == 'Opened'">
                          <i class="bg-warning" ></i> {{x.complaintState}}
                      </span>
                      <span class="badge badge-dot mr-4" *ngIf="x.complaintState == 'treated'">
                          <i class="bg-success" ></i> {{x.complaintState}}
                      </span>
                          <span class="badge badge-dot mr-4" *ngIf="x.complaintState == 'In_progress'">
                          <i class="bg-info" ></i> {{x.complaintState}}
                    </span>
                          <span class="badge badge-dot mr-4" *ngIf="x.complaintState == 'Closed_without_Solution'">
                          <i class="bg-danger" ></i> {{x.complaintState}}
                        </span>
                      
                    </td>
                <td>
                    {{x.complaintDate | date}}
                  </td>


                  <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                         <a class="dropdown-item" data-toggle="modal" [routerLink]="['/back/complaintDetails/',x.id]">Details</a>
                         <a class="dropdown-item" data-toggle="modal" (click)="AffectTech(x.id)" *ngIf="(x.typeComplaint.typeName =='Technical Branch' && x.complaintState == 'Opened') || (x.typeComplaint.typeName =='Technical Branch' && x.complaintState == 'In_progress')">Affect Technician</a>
                         <a class="dropdown-item" data-toggle="modal" (click)="Open(content,x.id)">Delete</a>
                        </div>
                      </div>
                    </td>
                
                  
              </tr>

            </tbody>
          </table>

        </div>
        
      </div>
    </div>
  </div>

</div>

<div class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
      </ul>
    </nav>
    </div>

<ng-template #content let-modal1>
    <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
        <div class="modal-danger" role="document">
          <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
              <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
              <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Delete Complaint</h4>
                <p>Are you sure want to delete this complaint.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="Delete()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </ng-template>
  