
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <br>
        <br>
        <br>
        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Today Best Pack</h5>
                        <span class="h2 font-weight-bold mb-0">{{ BestpackforTodayTITLE }}</span><br>
                        <span class="h2 font-weight-bold mb-0">{{ BestpackforToday.titleStat }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-chart-pie"></i>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Most Gain Money Pack</h5>
                        <span class="h2 font-weight-bold mb-0">{{ mostgainmoneystatpackTITLE }}</span><br>
                        <span class="h2 font-weight-bold mb-0">{{ mostgainmoneystatpack.titleStat }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-chart-pie"></i>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Pack Of The Month</h5>
                     
                        <span class="h2 font-weight-bold mb-0">{{PackoftheMonthTITLE}}</span><br>
                        <span class="h2 font-weight-bold mb-0">{{ PackoftheMonth.titleStat }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-chart-pie"></i>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Most Selled Quantity Pack</h5>
                        
                        <span class="h2 font-weight-bold mb-0">{{ SelledQuantitypacktodayTITLE  }}</span><br>
                        <span class="h2 font-weight-bold mb-0">{{ SelledQuantitypacktoday.titleStat }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-chart-pie"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
        
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-2">
                        <a routerLink="/back/addpack" class="btn btn-sm btn-danger">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>New Pack</span>
                       
                          
                        </a>
                    </div>
                    <div class="col-2">

                        <a routerLink="/back/listarchivepacks" class="btn btn-sm btn-danger">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Archived Packs</span>
                          
                        </a>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                    </div>
                   
    
    
                  </div>
<!-- Page content -->
<!-- show archive action-->
<ng-template #contenttwo let-modal1 >
    <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
        <div class="modal-danger" role="document">
          <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
              <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
              <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Archive Operation</h4>
                <p>Are you sure want to Archive this Pack.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="archivepack()">Ok, Got it</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>
<!-- show product -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{productpopup.productName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   
      

            <div class="item" >
              <div class="mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->
                  <a>
                    <div class="view overlay hm-white-slight">
                      <img [src]="productpopup.productImage" class="img-fluid"  alt="" width="360px" height="640px">
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5> {{productpopup.productCategory }}</h5>
                    </a>
                    
                    <!--Description-->
                    <p class="card-text">{{ productpopup.productDescription}} </p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left"> {{productpopup.productPrice}}  TND</span>
                     
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
    </div>
    
  </ng-template>
  

  <!--TAble -->
</div>
</div>
</div>
</div>
         
  <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                 
                    <th scope="col">Title</th>
                    <th scope="col">createdate</th>
                    <th scope="col">validfrom</th>
                    <th scope="col">validuntil</th>
                    <th scope="col">Products</th>
                    <th scope="col">description</th>
                    <th scope="col">integratedprice</th>
                    <th scope="col">integratedquantity</th>
                    <th scope="col">Operation</th>
                </tr>
              </thead>
              <tbody  *ngFor="let item of packData">
                <tr>
               
                    <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="{{item.picture}}">
                          </a>
                          <div class="media-body">
                            <span class="mb-5 text-uppercase u-black">{{item.title}}</span>
                          </div>
                        </div>
                      </th>
                    <td class="mb-5 text-uppercase u-black">{{item.createdate |  date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td class="mb-5 text-uppercase u-black">{{item.validfrom | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td class="mb-5 text-uppercase u-black">{{item.validuntil |  date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <div *ngIf="item.products.length > 0 ; else withoutprod">
                    <td >
                      
                        <div class="avatar-group">
                          <a *ngFor="let prod of item.products; index as i">
                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" (click)="open(content,prod)" >
                            <img alt="Image placeholder" src={{prod.productImage}} class="rounded-circle">
                          </a>
                        </a>
                        </div>
                      </td>
                    </div>
                    <ng-template #withoutprod>
                        <td >
                        
                        <button  routerLink="/back/updatepack" type="button" class="btn btn-block btn-warning mb-3" (click)="senditemtoupdate(item)">Assign Products</button>
                      </td>
                    </ng-template>
                    <td class="mb-5 text-uppercase u-black" >{{item.description}}</td>
                    <td class="mb-5 text-uppercase u-black" >{{item.integratedprice}}</td>
                    <td class="mb-5 text-uppercase u-black" >{{item.integratedquantity}}</td>
           
                   
                   
                  <td class="text-right">
                    <div ngbDropdown placement="top-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal" (click)="openarchive(contenttwo,item)">Archive</button>
                        <button type="button" class="btn btn-block btn-warning mb-3"  (click)="UpdatePack(item)">Update</button>
                        
                        
                      </div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
            
            <div class="row">
                <div class="col-xl-8 mb-5 mb-xl-0">
                  <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                      <div class="row align-items-center">
                        <div class="col">
                          <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                          <h2 class="text-white mb-0">Sales value</h2>
                        </div>
                        <div class="col">
                          <ul class="nav nav-pills justify-content-end">
                            <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                              <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                                <span class="d-none d-md-block">Month</span>
                                <span class="d-md-none">M</span>
                              </a>
                            </li>
                            <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                              <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                                <span class="d-none d-md-block">Week</span>
                                <span class="d-md-none">W</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <!-- Chart -->
                      <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="chart-sales" class="chart-canvas"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                
        </div>


  
        </div>
        </div>
        </div>
      
  </div>
  
