<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br>
      <!-- Card stats -->
        
        
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
              <div class="row align-items-center">
                  <div class="col-4">

                      
                      <button type="button" (click)="Opena(ajout)" placement="top-center" triggers="hover focus click"  class="btn-icon-clipboard" ngxClipboard [cbContent]="'fat-add'">
                          <div>
                            <i class="ni ni-fat-add"></i>
                            <span>New Telephone line</span>
                          </div>
                        </button>
                  </div>
                  
                  <div class="col-4"></div>
                  <div class="col-4">
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="Search">
                  </div>
                 
  
  
                </div>
  
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
              <th scope="col">Line Number</th>
              <th scope="col">Date Creation</th>
              <th scope="col">Service Name</th>
              <th scope="col">State</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let x of collection.Listtel | filter:searchText| paginate: config">

              <td>
                {{x.id}}
              </td>
              <td>
                  {{x.lineNumber}}
                </td>
                <td>
                    {{x.dateCreation | date}}
                    
                  </td>
              <td>
                  {{x.services.serviceName}}
                </td>
                <td >
                
                    <span class="badge badge-dot mr-4" *ngIf="x.lineState == '0'">
                        <i class="bg-warning" ></i> Disabled
                    </span>
                    <span class="badge badge-dot mr-4" *ngIf="x.lineState == '1'">
                        <i class="bg-success" ></i> Enabled
                    </span>
                  </td>


                <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" data-toggle="modal" [routerLink]="['/back/lineDetails//',x.id]">Details</a>

                       <a class="dropdown-item" data-toggle="modal" (click)="OpenUpdate(update,x.id,x.lineNumber,x.codePIN,x.codePUK,x.services)">Update</a>
                       <a class="dropdown-item" data-toggle="modal" (click)="Open(content,x.id)">Delete</a>
                       <a class="dropdown-item" data-toggle="modal" (click)="OpenDisable(contentDisable,x.id)" *ngIf="x.lineState == '1'">Disable Line</a>
                      </div>
                    </div>
                  </td>
              
                
            </tr>

          </tbody>
        </table>
        
      </div>
      
    </div>
  </div>
</div>

</div>

<div class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
      </ul>
    </nav>
    </div>

<ng-template #content let-modal1>
    <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
        <div class="modal-danger" role="document">
          <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
              <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
              <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Delete line</h4>
                <p>Are you sure want to delete this line.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="Delete()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #contentDisable let-modal1>
    <div  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification" >
        <div class="modal-danger" role="document">
          <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
              <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
              <button type="button" class="close" aria-label="Close"  (click)="modal1.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Disable line</h4>
                <p>Are you sure want to disable this line.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="Disable()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #ajout let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal1-basic-title">Add Telephone line</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
      <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
          </div>
          <form #lineForm= "ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  
                  <input class="form-control" placeholder="Line number *" name="lineNumber" [(ngModel)]="telline.lineNumber" #lineNumber="ngModel" type="text" required>
                </div>
                <div *ngIf="lineNumber.invalid && lineNumber.touched && !lineNumber.dirty" class="alert alert-danger">
                    Number  is required  </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  
                  <input class="form-control" placeholder="Code PIN *" name="codePIN" [(ngModel)]="telline.codePIN" #codePIN="ngModel" type="text" required>
                </div>
                <div *ngIf="codePIN.invalid && codePIN.touched && !codePIN.dirty" class="alert alert-danger">
                    codePIN  is required  </div>
              </div>
              
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  
                  <input class="form-control" placeholder="Code PUK *" name="codePUK" [(ngModel)]="telline.codePUK" #codePUK="ngModel" type="text" required>
                </div>
                <div *ngIf="codePUK.invalid && codePUK.touched && !codePUK.dirty" class="alert alert-danger">
                    codePUK  is required  </div>
              </div>
            
              <!-- <div class="form-group">
                <div class='col-lg-6' >
                  
                  <select name="service" [(ngModel)]="telline.services" #service="ngModel">
                    <option>Select a Service</option>
                    <option *ngFor="let s of Servicelist" [ngValue]="s.id">{{s.serviceName}}</option>
                  </select>
                </div>
              </div> -->
              <ejs-combobox  name="service" #service="ngModel" [dataSource]='Servicelist' [(ngModel)]="telline.services" [fields]='fields' placeholder='Select a service '[allowFiltering]='true' (filtering)='onFiltering($event)'></ejs-combobox>
              <br>
             
              <ejs-combobox  name="user" #user="ngModel" [dataSource]='Userlist' [(ngModel)]="telline.user" [fields]='fields1' placeholder='Select a Client '[allowFiltering]='true' (filtering)='onFiltering1($event)'></ejs-combobox>

            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="lineForm.invalid">ADD</button>
            </div>
          </form>
        </div>  </div>
  
</ng-template>
<ng-template #update let-modal1>
    <div class="modal-header">
      <h4 class="modal-title" id="modal1-basic-title">Update Telephone Line</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
            </div>
            <form #lineForm= "ngForm" (ngSubmit)="Update()">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    
                    <input class="form-control" placeholder="Line number *" name="lineNumber" [(ngModel)]="telline.lineNumber" #lineNumber="ngModel" type="text" required>
                  </div>
                  <div *ngIf="lineNumber.invalid && lineNumber.touched && !lineNumber.dirty" class="alert alert-danger">
                      Number  is required  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    
                    <input class="form-control" placeholder="Code PIN *" name="codePIN" [(ngModel)]="telline.codePIN" #codePIN="ngModel" type="text" required>
                  </div>
                  <div *ngIf="codePIN.invalid && codePIN.touched && !codePIN.dirty" class="alert alert-danger">
                      codePIN  is required  </div>
                </div>
                
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    
                    <input class="form-control" placeholder="Code PUK *" name="codePUK" [(ngModel)]="telline.codePUK" #codePUK="ngModel" type="text" required>
                  </div>
                  <div *ngIf="codePUK.invalid && codePUK.touched && !codePUK.dirty" class="alert alert-danger">
                      codePUK  is required  </div>
                </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  
                  <input class="form-control" placeholder="Code PUK" name="codePUK" [(ngModel)]="telline.codePUK" #codePUK="ngModel" type="text" required>
                </div>
                <div class="form-error">
                    <div *ngIf="codePUK.invalid && codePUK.touched"> 
                        Code Puk is required
                    </div>
                </div>
              </div>
              

              
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" [disabled]="lineForm.invalid">Update</button>
              </div>
            </form>
          </div>  </div>
    
  </ng-template>

