<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <br>
        <br>
        <br>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-4">
  
                        
                        <button type="button" (click)="Opena(ajout)" placement="top-center" triggers="hover focus click"  class="btn-icon-clipboard" ngxClipboard [cbContent]="'fat-add'">
                            <div>
                              <i class="ni ni-fat-add"></i>
                              <span>New Object</span>
                            </div>
                          </button>
                    </div>
                    
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                    </div>
                   
    
    
                  </div>
    
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
              <tr>
                  <th scope="col">id</th>
                <th scope="col">Object</th>
                
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let x of collection.Listtech | filter:searchText| paginate: config">
  
                <td>
                  {{x.id}}
                </td>
                <td>
                    {{x.object}}
                  </td>
                 
                
  
  
                  <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                         <a class="dropdown-item" data-toggle="modal" (click)="Open(content,x.id)">Delete</a>
                        </div>
                      </div>
                    </td>
                
                  
              </tr>
  
            </tbody>
          </table>

        </div>
        
      </div>
    </div>
  </div>
  
  </div>
  <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    
        </ul>
      </nav>
      </div>
 
  
  <ng-template #content let-modal1>
    <div class="modal-header">
      <h4 class="modal-title" id="modal1-basic-title">Delete Object</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>Are you sure you want to delete this Object?</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal1.close('Save click')">Close</button>
      <button type="button" class="btn bg-gradient-danger" (click)="Delete(content)">Confirm</button>
  
    </div>
  </ng-template>
  <ng-template #ajout let-modal1>
    <div class="modal-header">
      <h4 class="modal-title" id="modal1-basic-title">Add Object</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
            </div>
            <form #techForm= "ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                  <input class="form-control" placeholder=" Name" name="object" [(ngModel)]="cObject.object" #object="ngModel" type="text" required >
                </div>
              
              <div class="form-error">
                  <div *ngIf="object.invalid && object.touched"> 
                      Object is required
                  </div>
              </div>
              </div>
              
              
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" [disabled]="techForm.invalid">ADD</button>
              </div>
            </form>
          </div> 
         </div>
    
  </ng-template>

  