<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 450px; background-image:
url(assets/img/theme/carBrands.jpg);
background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white">Vehicles | Models</h1>
      </div>
    </div>
  </div>
</div>
<!-- Modal Delete-->
<ng-template #contenttwo let-modal1>
  <div id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification">
    <div class="modal-danger" role="document">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
          <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">
            <i class="ni ni-bell-55 ni-3x"></i>
            <h4 class="heading mt-4">Delete Operation</h4>
            <p>Are you sure want to Delete this Model.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" (click)="deleteModel()">Ok, Got it</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--  Modal Add  -->
<ng-template #content1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal1-basic-title">Add Model</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #addForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <h6>Brand<span class="icon-danger text-orange">*</span></h6>
        <div class="input-group ">
          <select class="form-control" name="brand" [(ngModel)]="carbrand.id" #brandId="ngModel" required>
            <ng-container *ngFor="let b of carbrands">
              <option value="{{b.id}}"> {{b.brand}} </option>
            </ng-container>
          </select>
        </div>
        <ng-container *ngIf="brandId.invalid && brandId.touched " class="input-group">
            <ng-container *ngIf="brandId?.errors.required" class="form-control">
              <ng-container> Brand Name Required </ng-container>
            </ng-container>
          </ng-container>
      </div>
      <div class="form-group">
        <h6>New Model<span class="icon-danger text-orange">*</span></h6>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Model" name="modelVoiture" #modelV="ngModel"
            [(ngModel)]="model.model" required>
        </div>
        <ng-container *ngIf="modelV.invalid && modelV.touched " class="input-group">
            <ng-container *ngIf="modelV?.errors.required" class="form-control">
              <ng-container> Model Name Required </ng-container>
            </ng-container>
          </ng-container>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="addForm.invalid" class="btn btn-outline-dark"
          (click)="onSubmit()">Save</button>
      </div>
    </div>
  </form>
</ng-template>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">

            <div class="col-2">
              <a (click)="open1(content1)" class="btn btn-sm btn-primary text-white">
                <i class="ni ni-fat-add"></i>
                <span>New Model</span>
              </a>
            </div>
            <div class="col-2">
              <a routerLink="/back/vehicles" class="btn btn-sm btn-primary">
                <i class="ni ni-ungroup"></i>
                <span>Vehicles</span>
              </a>
            </div>
            <div class="col-2">
              <a routerLink="/back/carbrands" class="btn btn-sm btn-primary">
                <i class="ni ni-ungroup"></i>
                <span>Brands</span>
              </a>
            </div>
            <div class="col-2">
              <a routerLink="/back/models" class="btn btn-sm btn-primary">
                <i class="ni ni-ungroup"></i>
                <span>Models</span>
              </a>
            </div>
            <div class="col-4">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Search">
            </div>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Models</th>
                <th scope="col">Brands</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let m of collection.carmodels| filter:searchText | paginate: config | filter:searchText">
              <tr>
                <td>
                  {{m.model}}
                </td>
                <td>
                  {{m.carbrand.brand}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="top-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" data-toggle="modal" (click)="openarchive(contenttwo, m.id)">Delete</a>
                      <a class="dropdown-item" (click)="open(content)">Update</a>
                      <!--  Modal update  -->
                      <ng-template #content let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">Update Model</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="dateOfBirth">Model Name</label>
                              <div class="input-group">
                                <input class="form-control" name="dp" type="text" #dp value="{{m.model}}">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="updateModel(dp.value, m.id)">Save
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>
