<!-- Modal Delete-->
<ng-template #contenttwo let-modal1>
    <div id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification">
      <div class="modal-danger" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="ni ni-bell-55 ni-3x"></i>
              <h4 class="heading mt-4">Delete Operation</h4>
              <p>Are you sure want to Delete this Event.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="delete()">Ok, Got it</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 450px; background-image:
url(assets/img/theme/event.jpg);
background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Events</h1>
      </div>
    </div>
  </div>
</div>

<!-- Modal Suggestion-->
<ng-template #contentSugg let-modal1>
    <div id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification">
      <div class="modal-danger" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="ni ni-bell-55 ni-3x"></i>
              <h4 class="heading mt-4">Alert</h4>
              <p>Please answer the previous request of event!</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="close()">Ok, Got it</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

<!-- Modal Suggestion-->
<ng-template #contentResSugg let-modal1>
  <div id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal1-notification">
    <div class="modal-danger" role="document">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal1-title-notification">Your attention is required</h6>
          <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">
            <i class="ni ni-bell-55 ni-3x"></i>
            <h4 class="heading mt-4">Alert</h4>
            <p>No recent Suggestion!</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" (click)="close()">Ok, Got it</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--  Modal update  -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Name</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Start Date</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">End Date</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Location</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp placeholder="longitude">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp placeholder="latitude">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<!--  Modal Add  -->
<ng-template #content1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal1-basic-title">Add Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Name</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Start Date</label>
        <div class="input-group">

          <input id="dateOfBirth" class="form-control" name="dp" type="date" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">End Date</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="date" #dp>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Location</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp placeholder="longitude">
          <input id="dateOfBirth" class="form-control" name="dp" type="text" #dp placeholder="latitude">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal1.close('Save click')">Close</button>

  </div>
</ng-template>
<!-- Page content -->

<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
          <div class="card-header border-0">
              <div class="row align-items-center">

                <div class="col-2">
                  <a (click)="open1(content1)"  class="btn btn-sm btn-primary text-white">
                    <i class="ni ni-fat-add"></i>
                    <span>New Event</span>
                  </a>
                </div>
                <div class="col-2">
                  <a routerLink="/back/events" class="btn btn-sm btn-primary">
                    <i class="ni ni-ungroup"></i>
                    <span>Events</span>
                  </a>
                </div>
                <div class="col-2">
                  <a (click)="suggestEvent(contentSugg)" class="btn btn-sm btn-primary text-white">
                    <i class="ni ni-ungroup"></i>
                    <span>Suggestion</span>
                  </a>
                </div>
                <div class="col-2">
                  <a (click)= "recentSuggestion(contentResSugg)" class="btn btn-sm btn-primary text-white">
                    <i class="ni ni-ungroup"></i>
                    <span>Recent Suggestion</span>
                  </a>
                </div>
                <div class="col-4">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Search">
                </div>
              </div>
            </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let e of collection.events | filter:searchText | paginate: config | filter:searchText">
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{e.name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{e.startDate}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{e.endDate}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">El manar 1</span>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" routerLink="/back/details-event/{{e.id}}" >Details</a>
                      <a class="dropdown-item" >Update</a>
                      <a class="dropdown-item" (click)="openarchive(contenttwo, e.id)">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
