<app-front-nav></app-front-nav>
<section class="section bg-secondary">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="../../../assets/front/img/theme/img-1-1200x1000.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-md-5">
          <h3 class="h4 text-default font-weight-bold mb-4">Title
            <small class="d-block"> <i class="fa fa-heart"></i> 10 </small>
          </h3>
          <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure
            you enable them first via JavaScript.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-components">
  <div class="container">
    <!-- comments -->
    <h5> 2 comments &nbsp; <i class="fa fa-comment"></i></h5>
    <div class="row py-3 align-items-center">
      <div class="col-sm-1">
        <img src="./assets/img/theme/team-2-800x800.jpg" alt="Circle image" class="img-fluid rounded-circle shadow"
          style="width: 150px;"> <br>
        &nbsp; <small class="d-block text-uppercase font-weight-bold mb-4">Dorra </small>
      </div>
      <div class="col-sm-9">
        <p>I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I
          understand culture. </p>
      </div>
    </div>
    <div class="row py-3 align-items-center">
      <div class="col-sm-1">
        <img src="./assets/img/theme/team-2-800x800.jpg" alt="Circle image" class="img-fluid rounded-circle shadow"
          style="width: 150px;"> <br>
        &nbsp; <small class="d-block text-uppercase font-weight-bold mb-4">Dorra </small>
      </div>
      <div class="col-sm-9">
        <p>I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I
          understand culture. </p>
      </div>
    </div>
  </div>

  <!-- reply -->
  <div class="container">
    <h5> Write a response &nbsp; <i class="fa fa-reply"></i></h5>
    <div class="row py-3 align-items-center">
        <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
        placeholder="Type a comment..."></textarea>
    </div>
  </div>
</section>
<section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">Write a response &nbsp; <i class="fa fa-reply"></i></h3>
              <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
              placeholder="Response .."></textarea>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a class="btn btn-lg btn-block btn-white">Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-front-footer></app-front-footer>
