@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.headroom--pinned {
  display: block;
}
.headroom--unpinned {
  display: none;
}

path.link {
  fill: none;
  stroke-width: 2px;
}
.node:not(:hover) .nodetext {
  display: none;
}


