
<app-front-nav></app-front-nav>

<!-- Page -->
<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="display-3 text-white">OUR SERVICES</h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="btn-wrapper">
                <div class="btn-wrapper">

                  </div>
                  </div>
                  </div>
                  </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
<div class="container">
  
    
       
            
      <br>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
    
    
    <div class="form-group">
        <div class="input-group input-group-alternative mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
          </div>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </div>
      </div>
 
   

</div>
      
<ng-template #loading>
  <p style="text-align:center"><br/><br/><br/><br/><img src="assets/spin.svg"/></p>
</ng-template>
<br><br> 
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="2%"></div>
    <div fxFlex>
        <br/>
        
<mat-grid-list cols="3" rowHeight="550" >
    <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
  <mat-grid-tile  class="col-lg-3" *ngFor="let x of collection.ListComplaints | filter:searchText| paginate: config" >
     
                
      <mat-card class="material-card card card-lift--hover shadow border-0">
          <span class="mask bg-gradient-primary opacity-1"></span>
          <mat-card-header  >
              <div mat-card-avatar ><i class="fas fa-box text-orange"></i></div>
              <mat-card-title >{{x.serviceName}}</mat-card-title>
             <!-- <div *ngIf="item.products.length > 0 ">
              <mat-card-subtitle *ngFor="let prod of item.products; index as i">
                  <span>{{prod.productName}}</span>
              </mat-card-subtitle>
            </div>-->
           
              <span class="flex-fill-remaining-space"></span>
              <span></span>
          </mat-card-header>
      
          <img mat-card-image src="assets/Services.png"  class="image" alt="Photo of a Shiba Inu"  >
     
         <mat-card-content>
              <p> Activation Code :</p>
<p>{{x.activationCode}} </p>              
          </mat-card-content> 
          <mat-card-actions>
              <mat-toolbar>
               
                  <span class="flex-fill-remaining-space"></span>
                  
              </mat-toolbar>
          </mat-card-actions>
          <mat-card-actions allign="end">
            
               <a mat-icon-button 
              [routerLink]="['/home/ServiceDetails/',x.id]">
                  <mat-icon class="text-orange">Details</mat-icon>
              </a> 
              <span class="flex-fill-remaining-space"></span>
             
          </mat-card-actions>
      </mat-card>
      <br><br>
  </mat-grid-tile>
          </div>
        </div>
      </div>
</mat-grid-list>
<nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </ul>
  </nav>
        <br/>
    </div>
    <div fxFlex="2%"></div>
</div>
         
   
                    </div>
                    
                    

                    



<app-front-footer></app-front-footer>
