<app-front-nav></app-front-nav>
<!-- Page -->
<section class="section pb-0 bg-gradient-warning">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3 text-white">ALL CUSTOMER COMPLAINTS</h2>

        <div class="btn-wrapper">
          <div class="btn-wrapper">
            <a href="http://localhost:4200/home/allcomplaints#ajout" class="btn btn-primary text-white"  *ngIf="role =='CLIENT'">New complaint!</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<!-- <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">All Customer Complaints</h2>
          
          <div class="btn-wrapper">
            <div class="btn-wrapper">
              <a class="btn btn-primary text-white" (click)="Opena(ajout)" *ngIf="role =='CLIENT'">New complaint!</a>
              </div>
              </div>
              </div>
              </div>
              </div>
              </section> -->
<div class="container">




  <br>
  <br>
  <div class="row">
    <div class="col-sm">

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="form-group">
        <div>

          <small class="text-uppercase font-weight-bold">Filter By Type :</small>
        </div>
        <ejs-combobox name="type" #type="ngModel" [dataSource]='typeList' [(ngModel)]="selctedType" [fields]='fields'
          placeholder='Select a Type ' [allowFiltering]='true' (filtering)='onFiltering($event)'></ejs-combobox>
        <br>
      </div>

      <div class="form-group">
        <!-- Checkboxes -->
        <div>
          <small class="text-uppercase font-weight-bold">Filter By State :</small>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="Opened" [(ngModel)]="Opened" type="checkbox"
            (change)="ChangeState($event)">
          <label class="custom-control-label" for="Opened">
            <span>Opened</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="In_Progress" [(ngModel)]="In_Progress" type="checkbox"
            (change)="ChangeState2($event)">
          <label class="custom-control-label" for="In_Progress">
            <span>In-Progress</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="Treated" [(ngModel)]="Treated" type="checkbox"
            (change)="ChangeState1($event)">
          <label class="custom-control-label" for="Treated">
            <span>Treated</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="Closed_without_solution" [(ngModel)]="Closed_without_solution"
            type="checkbox" (change)="ChangeState3($event)">
          <label class="custom-control-label" for="Closed_without_solution">
            <span>Closed without solution</span>
          </label>
        </div>

      </div>
    </div>
    <div class="col-md-9">

      <div class="form-group">
        <div class="input-group input-group-alternative mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
          </div>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search">
        </div>
      </div>

      <br><br><br>
      <div class="container">
        <div class="row">

          <div class="col-md-6"
            *ngFor="let x of collection.ListComplaints| filterbytype: selctedType | filter:searchText| paginate: config">

            <div class="card shadow shadow-lg--hover mt-5" *ngIf="x.complaintState =='treated'">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">{{x.complaintObject.object}}</h5>

                    <p class="card-category" *ngIf="x.complaintState =='Opened'">Opened</p>
                    <p class="card-category" *ngIf="x.complaintState =='In_progress'">In Progress</p>
                    <p class="card-category" *ngIf="x.complaintState =='treated'">Treated</p>
                    <p class="card-category" *ngIf="x.complaintState =='Closed_without_Solution'">Closed</p>
                    <a [routerLink]="['/home/cdetails/',x.id]" class="text-success">View Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5 " *ngIf="x.complaintState != 'treated'">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">{{x.complaintObject.object}}</h5>

                    <p class="card-category" *ngIf="x.complaintState =='Opened'">Opened</p>
                    <p class="card-category" *ngIf="x.complaintState =='In_progress'">In Progress</p>
                    <p class="card-category" *ngIf="x.complaintState =='treated'">Treated</p>
                    <p class="card-category" *ngIf="x.complaintState =='Closed_without_Solution'">Closed</p>
                    <a [routerLink]="['/home/cdetails/',x.id]" class="text-warning">View Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4 col-sm-6" *ngFor="let x of collection.ListComplaints| filterbytype: selctedType | filter:searchText">
                          <div class="card-big-shadow">
                              <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                                  <div class="card-body">
                                      <h4 class="card-title"><a href="javascript:void(0)" >{{x.complaintObject.object}}</a></h4>
                                      <h6 class="card-category" *ngIf="x.complaintState =='Opened'">Opened</h6>
                                      <h6 class="card-category" *ngIf="x.complaintState =='In_progress'">In Progress</h6>
                                      <h6 class="card-category" *ngIf="x.complaintState =='treated'">Treated</h6>
                                      <h6 class="card-category" *ngIf="x.complaintState =='Closed_without_Solution'">Closed</h6>

                                      <p class="card-description">{{x.complaintDate}} </p>
                                  </div>
                                  <div class="card-footer">
                                      <a [routerLink]="['/home/cdetails/',x.id]" class="btn btn-danger btn-round">View Details</a>
                                  </div>
                              </div> 
                          </div>
                      </div> -->

        </div>
      </div>
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

        </ul>
      </nav>

    </div>
  </div>
</div>



<br><br><br><br> <br><br><br><br>
<br><br><br><br>


<!-- <ng-template #ajout let-modal1>
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal1-basic-title">Add Complaint</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                </div>
                                <form #lineForm= "ngForm" (ngSubmit)="onSubmit()">
    
        
                                    <ejs-combobox  name="complaintObject" #complaintObject="ngModel" [dataSource]='ObjectList' [(ngModel)]="complaint.complaintObject" [fields]='fields1' placeholder='Select a type '[allowFiltering]='true' (filtering)='onFiltering1($event)'></ejs-combobox>
                                  <br>
                                  <br>
                                <div class="form-group">
                                    <textarea class="form-control form-control-alternative" rows="3"    name="complaintBody * " #complaintBody="ngModel" [(ngModel)]="complaint.complaintBody"  placeholder="Complaint body ......"  required ></textarea> 
                            
                                  
                            
                                     <div *ngIf="complaintBody.invalid && complaintBody.touched && !complaintBody.dirty" class="alert alert-danger">
                                        
                                        <label class="form-control-label" for="input-address" *ngIf=" complaintBody?.errors.required">complaintBody is required</label>

                                    </div>
                                </div>
                                
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4" [disabled]="lineForm.invalid">ADD</button>
                              </div>
                            </form>                              </div>  </div>
                        
                      </ng-template> -->
<section class="section pb-0 bg-gradient-warning" *ngIf="role =='CLIENT'">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3 text-white"></h2>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>

      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<section id="ajout" class="section section-lg pt-lg-0 section-contact-us" *ngIf="role =='CLIENT'">
  <div class="container">
    <div class="row justify-content-center mt--300">
      <div class="col-lg-12">
        <div class="card bg-gradient-secondary shadow">
          <div class="card-body p-lg-12">
            <h4 class="mb-1">New complaint ?</h4>
            <p class="mt-0">Ask for a new complaint.</p>
            <form #lineForm="ngForm" (ngSubmit)="onSubmit()">





              <ejs-combobox name="complaintObject" #complaintObject="ngModel" [dataSource]='ObjectList'
                [(ngModel)]="complaint.complaintObject" [fields]='fields1' placeholder='Select a type '
                [allowFiltering]='true' (filtering)='onFiltering1($event)'></ejs-combobox>
<br><br>
              <div class="form-group mb-4">

                <textarea class="form-control form-control-alternative" rows="3" name="complaintBody * "
                  #complaintBody="ngModel" [(ngModel)]="complaint.complaintBody" placeholder="Complaint body ......"
                  required></textarea>



                <div *ngIf="complaintBody.invalid && complaintBody.touched && !complaintBody.dirty"
                  class="alert alert-danger">

                  <label class="form-control-label" for="input-address"
                    *ngIf=" complaintBody?.errors.required">complaintBody is required</label>

                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-default btn-round btn-block btn-lg"
                  [disabled]="lineForm.invalid">ADD</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-front-footer></app-front-footer>