<app-front-nav></app-front-nav>
<section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3 text-white">PACK DETAILS</h2>
  
          <div class="btn-wrapper">
            <div class="btn-wrapper">
             
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="2%"></div>
      <div fxFlex>
          <br/>
  <div fxLayout="column" >
      <!-- Image, Desc. & Summary -->
      <div fxLayout="row" fxLayoutAlign="space-around start">
          <div fxFlex="80%">
              <!-- Image & Desc. -->
              <div fxLayout="column " class="material-card card card-lift--hover shadow border-0" >
                  <img src="{{Pack.picture}}" style="height: 800px;font-weight: 604px;">
                  <!-- Desc. -->
                  <div fxLayout="row" layout-wrap>
                      <div fxFlex="100%">
                          <h4>{{Pack.title}}</h4>
                      </div>
                      <div fxFlex>
                          <p>{{Pack.description}}</p>
                      
                      </div>
                  </div>
              </div>
          </div>
          <!-- Summary -->
          <mat-list fxFlex fxFlexAlign="start" fxFlexOffset="5%">
              <h4 class="text-warning" >
                  <mat-icon>info</mat-icon>
                  Pack Highlight
              </h4>           
              <mat-divider class="text-warning"></mat-divider>
             
              <mat-list-item>
                  <h4 class="text-warning" mat-line>Quantity</h4>
                  <p mat-line>{{Pack.integratedquantity}}</p>
              </mat-list-item>
              <mat-list-item>
                      <h4 class="text-warning"  mat-line>Price</h4>
                      <p  mat-line>{{Pack.integratedprice}} TND</p>
                  </mat-list-item>
              <mat-list-item>
                  <h4 class="text-warning" mat-line>Released</h4>
                  <p mat-line>{{Pack.createdate |  date:"MM/dd/yyyy 'at' h:mma"}}</p>
              </mat-list-item>
             
              
              
         
              <mat-list>
                  <h4 class="text-warning" >
                      <mat-icon>info</mat-icon>
                      Pack Rating
                  </h4>           
                  <mat-divider></mat-divider>
                  <mat-list-item>
              
                 
                   
                      <mat-chip-list>
                          <mat-chip ><h5>{{ Pack.avgRatingpack | async }}/5
                             Rate</h5></mat-chip>
                      </mat-chip-list>
           
                  
              </mat-list-item>
              <mat-list-item>
                Rate This Pack
              </mat-list-item>
            <mat-list-item>
                <h4 mat-line>
                    <fieldset class="rating">
                        <ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
                            <!-- full star -->
                            <input (click)="starHandler(num)" 
                                  [id]="'star'+num"
                                  [value]="num-0.5"
                                  name="rating" 
                                  type="radio" />
                      
                            <label class="full" [for]="'star'+num"></label>
                      
                            <!-- half star -->
                            <input (click)="starHandler(num-0.5)" 
                                   [value]="num-0.5"
                                   [id]="'halfstar'+num" 
                                   name="rating" 
                                   type="radio"  />
                      
                            <label class="half" [for]="'halfstar'+num"></label>
                      
                        </ng-container>
                      </fieldset>
                </h4>
            </mat-list-item>
            <mat-list>
                <h4 class="text-warning" >
                    <mat-icon>people</mat-icon>
                    Reviews
                </h4>
                <mat-divider class="text-warning" ></mat-divider>
              <mat-list   >
               <mat-list-item *ngFor="let star of stars | async">
                {{ star.userId }} gave {{ Pack.Title }} {{ star.value }} stars
              </mat-list-item>
                 
             
            </mat-list>
          </mat-list>
            </mat-list>
        </mat-list>
      </div>
      <br>
      <br>
      <div >
          <h4 class="text-warning" >
              <mat-icon>people</mat-icon>
              Pack Products
          </h4>
          <mat-divider></mat-divider>
          <section class="section ">

              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="row row-grid">
                    <div class="col-lg-3" *ngFor="let product of Pack.products">
                      <div class="card card-lift--hover shadow border-0">
        
                        <div class="card-body py-5 " [ngStyle]="getstyle(product.productImage)">
                          <span class="mask bg-gradient-danger opacity-1"></span>
                          <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                            <i class="text-uppercase ">P</i>
                          </div>
                          <div class="text-box-custom">
                            <h3 class="mb-0 text-uppercase u-black text-center  "> {{ product.productName }} </h3>
                            
                          </div>
                          <div >
                              <div class="price" *ngIf ="product.producthavepromotion == true; else withoutpromotion">
                                   <s class="u-black">{{product.productPrice}} TND</s> <br><span
                                      class="text-danger">{{product.productnewvalue}} TND</span>
                                </div>
                              
                        <ng-template #withoutpromotion> 
                            <span class="left"> {{ product.productPrice }} TND</span>
                        </ng-template>
                      </div>
                          <p class="display-4 text-white"> </p>
                        
        
                        </div>
        
        
                      </div>
                    </div>
        
                  </div>
        
                </div>
              </div>
        
            </section>
        
          </div>
          <br>
      <!-- Reviews -->
     
     
  </div>
  <br/>
</div>
<div fxFlex="2%"></div>
</div>
