<nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand mr-lg-5" href="../index.html">
          <img src="../assets/img/brand/white.png" alt="brand">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/blue.png" alt="brand">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Products and stores</span>
              </a>
              <div class="dropdown-menu dropdown-menu-xl">
                <div class="dropdown-menu-inner">

                  <a routerLink="stores" routerLinkActive="active" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">Check our stores</h6>
                      <p class="description d-none d-md-inline-block mb-0">Check our stores with google maps technology, no need for taping on google ;) .</p>
                    </div>
                  </a>
                  <a routerLink="products" routerLinkActive="active" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-palette"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">Check our products</h6>
                      <p class="description d-none d-md-inline-block mb-0">Wanna discover our latest technologies ? you are so welcome to visit this section ;)</p>
                    </div>
                  </a>
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-ui-04"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="heading text-warning mb-md-1">Components</h5>
                      <p class="description d-none d-md-inline-block mb-0">Browse our 50 beautiful handcrafted components offered in the Free version.</p>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Examples</span>
              </a>
              <div class="dropdown-menu">
                <a href="../examples/landing.html" class="dropdown-item">Landing</a>
                <a href="../examples/profile.html" class="dropdown-item">Profile</a>
                <a href="../examples/login.html" class="dropdown-item">Login</a>
                <a href="../examples/register.html" class="dropdown-item">Register</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Complaints</span>
              </a>
              <div class="dropdown-menu dropdown-menu-xl">
                <div class="dropdown-menu-inner">

                  <a [routerLink]="['/home/allcomplaints']" routerLinkActive="active" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">All Complaints</h6>
                    </div>
                  </a>
                  <a [routerLink]="['/home/mycomplaints']" routerLinkActive="active" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-palette"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">My Complaints</h6>
                    </div>
                  </a>
                 
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Examples</span>
              </a>
              <div class="dropdown-menu">
                <a href="../examples/landing.html" class="dropdown-item">Landing</a>
                <a href="../examples/profile.html" class="dropdown-item">Profile</a>
                <a href="../examples/login.html" class="dropdown-item">Login</a>
                <a href="../examples/register.html" class="dropdown-item">Register</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                  <i class="ni ni-ui-04 d-lg-none"></i>
                  <span class="nav-link-inner--text">Services</span>
                </a>
                <div class="dropdown-menu dropdown-menu-xl">
                  <div class="dropdown-menu-inner">
  
                    <a [routerLink]="['/home/AllServices']" routerLinkActive="active" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-spaceship"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">All Services</h6>
                      </div>
                    </a>
                    
                   
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                  <i class="ni ni-collection d-lg-none"></i>
                  <span class="nav-link-inner--text">Examples</span>
                </a>
                <div class="dropdown-menu">
                  <a href="../examples/landing.html" class="dropdown-item">Landing</a>
                  <a href="../examples/profile.html" class="dropdown-item">Profile</a>
                  <a href="../examples/login.html" class="dropdown-item">Login</a>
                  <a href="../examples/register.html" class="dropdown-item">Register</a>
                </div>
              </li>
            </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                <i class="fa fa-facebook-square"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                <i class="fa fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
                <i class="fa fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-cloud-download mr-2"></i>
                </span>
                <span class="nav-link-inner--text">Download</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

    <!-- Mask -->
    <section class="section section-lg">
        <div class="container">
          <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="display-3">Line Details</h2>
              
              <div class="btn-wrapper">
                <div class="btn-wrapper">
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </section>
  
  <br>
  <br>
<section class="section bg-secondary">
  <div class="container">
     
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">General information</h6>
                <div class="pl-lg-4">
                  <!-- Name -->
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Line Number  &nbsp;:</label><br>
                        <label>{{service.lineNumber}}</label>
                      </div>
                    </div>
                    
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">Code PIN &nbsp;:</label><br>
                            <label>{{service.codePIN}}</label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Code PUK &nbsp;:</label><br>
                              <label>{{service.codePUK}}</label>
                          </div>
                          <div class="form-group">
                              <label class="form-control-label" for="input-username">Solde &nbsp;:</label><br>
                                <label>{{service.solde}}</label>
                            </div>
                      </div>
                  </div>
                  <!-- Start + End date -->
                  
                </div>
                
                <!-- Location -->
                
                <hr class="my-4" />
                <!-- Vehicules   -->
                <h6 class="heading-small text-muted mb-4" *ngIf="service.lineState == '0'">State &nbsp; : &nbsp;Disabled</h6>
                <h6 class="heading-small text-muted mb-4" *ngIf="service.lineState == '1'">State &nbsp; : &nbsp;Enabled</h6>
  
                <div class="pl-lg-4">
                    <!-- Name -->
                    <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                      
                        <i class="ni ni-calendar-grid-58"> &nbsp;<label class="form-control-label" for="input-address">Creation Date :</label></i> <br>
                      <label class="form-control-label" for="input-address">{{service.dateCreation | date}}</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                        
                          <i class="ni ni-calendar-grid-58"> &nbsp;<label class="form-control-label" for="input-address">Validity Date :</label></i> <br>
                        <label class="form-control-label" for="input-address">{{service.validityDate | date}}</label>
                      </div>
                    </div>
                  </div>
                  </div>
                  
                
                <hr class="my-4" />
                <a [routerLink]="['/home/ServiceDetails/',service.services.id]"><h6 class="heading-small text-muted mb-4">Service &nbsp; : &nbsp;{{service.services.serviceName}}</h6></a>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">User &nbsp; : &nbsp;{{service.user.username}}</h6>
                <hr class="my-4" />
                
              </form>
            </div>
          </div>
          </section>

<app-front-footer></app-front-footer>

